flask>=1.0.4
importlib-metadata
nest-asyncio
plotly >=5.0.0
requests
retrying
setuptools
typing-extensions >=4.1.1

dash-html-components >=2.0.0
dash_table >=5.0.0
dash-core-components >=2.0.0

dash>=2
dash[ci,dev,testing]>=2.0
pyyaml>=5.0
pytest<8.1.0
wheel
dash>=2.9.0
gunicorn>=19.9.0
pandas>=1.2.3
pyyaml>=3.13
dash-bootstrap-components>=1.0.0
dash-mantine-components>=0.15.2
dash-iconify
colorlover
statsmodels
python-frontmatter>=1.1.0
git+https://github.com/AnnMarieW/markdown2dash-amw.git#egg=markdown2dash
pydantic
full-calendar-component
dash-discord>=0.0.3
dash-summernote
dash-emoji-mart
dash_excalidraw>=0.0.2
dash-charty
dash-image-gallery
dash-swiper
dash-nivo>=0.0.1
dash-dynamic-grid-layout==0.1.1
dash_leaflet @ file:dash_leaflet-1.0.18.tar.gz
dash-insta-stories
dash-credit-cards
dash-pannellum>=0.0.3
dash_quill
dash-ace==0.2.1
gunicorn>=21.2.0